body {
    background-image: url("header_image.jpg");
    font-family:arial;
}
h1, h2 {
    color:#666;
}
p {
    color:black;
    padding:5px;
}
/* testing ids and classes */
.secondary {
    color:black;
}
#special {
    color:black;
}