
html {
    background: url(cork_background.jpg);
}
#heading {
    padding: 10px 50px;
    border-bottom: 10px solid navy;
    margin: 5px;    
}
#navigation {
    padding: 0px;
    border: 5px;
    margin: 0px 5px;
}
.image {
    float: left;
    padding: 0px;
    border: 0px;
    margin: 30px 0px 0px 5px;
}
#paragraph {
    width: 75%;
    padding: 0px;
    border: 5px;
    margin: 5px 5px 50px 0px;
}
#body_standard {
    font-size: 18px;
    font-family: Arial;
    color:black;
    padding:5px;
}
h1 {
    font-family: Arial;
}
ul {
    font-family: Arial;
    font-size: 20px;
    list-style-type: none;
    overflow: auto;
    padding: 0px;
}
li {
    float: left;
    padding: 0px 75px;
}
#foot {
    border-top: 1px solid black;
    font-size: 12px;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
input[type=text] {
    width: 15%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
textarea {
    width: 15%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    resize: none;
}
input[type=submit] {
    font-family: Arial;
    font-size: 16px;
}